.table {
  margin: auto;
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  
}

.tableDiv{
  padding: 50px;
  overflow-x: auto;
}

.cell {
  padding: 20px;
}

.headerRow {
  background-color: #700b97;
  color: white;
  padding: 20px;
}

.ptag{
  color: black;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 20px;
}
